.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 10px 0 10px;
}

.programs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.program {
  width: 170px;
  border-radius: 3px;
  margin: 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;
}

h2 {
  font-size: 13px;
}

span {
  font-size: 20px;
}

.funcs {
  display: flex;
  justify-content: space-around;
}

.copy {
  background-color: aquamarine;
}

.minus {
  background-color: antiquewhite;
}

button {
  border: none;
  cursor: pointer;
  width: 50px;
}

.redBg {
  background-color: firebrick;
}

.greenBg {
  background-color: lightgreen;
}

.custom-select {
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
}

select {
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 22px;
  border-radius: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.xmlPage {
  display: flex;
  flex-direction: column;
}

.xmlUploadForm {
  align-self: center;
  padding: 50px 0 10px;
}
.xmlUploadForm_gosia {
  display: flex;
  justify-content: center;
}

.xmlUploadBtn {
  width: 200px;
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 12px 12px;
  cursor: pointer;
}

.info-icon {
  font-size: 20px;
  color: blue;
  position: relative;
}

.info-icon:hover::before {
  content: attr(data-info);
  min-width: 150px;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  font-size: 14px;
}

.programs_block {
  max-width: 500px;
}

.walkthrough {
  margin: 50px 100px;
}

.warning {
  color: red;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.gosia_input {
  width: 300px;
  height: 40px;
  font-size: 25px;
  display: flex;
  margin: 40px auto;
}

.loader-div {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disabled {
  background-color: #888;
}

/* GOSIA FANCY BTN */

.glow {
  font-family: "Courier New", Courier, monospace;
  width: 220px;
  height: 50px;
  border: none;
  color: #fff;
  outline: none;
  background: green;
  cursor: pointer;
  border-radius: 10px;
  margin: 50px auto;
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.prog-header {
  display: flex;
  justify-content: center;
}

.edit-btn {
  background-color: orange;
  font-size: 10px;
}

.main-menu-btns {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.main-menu-btns button {
  margin: 0 20px;
  width: 100px;
  height: 50px;
}

.delete-btn {
  background-color: red;
  color: #000;
  font-weight: 700;
  font-size: 10px;
}
